:root {
  /* For color */
  --whitefortext: white;
}
body {
  background: var(--whitefortext);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
